@import '../../../styles/main';
.footer {
	&__container {
		max-width: $max-width;
		width: 100%;
		margin: auto;
		padding: 20px 0;
		& > p {
			margin: 20px auto;
			font-weight: weight(regular);
		}
	}
}
